conf/secrets.env
conf/*_secrets.env
backend/config.py
frontend/public/index.html
conf/secrets.json
conf/mongo.env
conf/mongo-entrypoint/01_create_user.sh
.vagrant/
__pycache__
frontend.vue/
*.code-workspace
.vscode
*.pyc
tmp/
data/
*.egg-info
backend/.env
.coverage
backend/test_report.html
coverage_report/
backend/.nose*
backend/nose*
frontend/test-report.html
backend/build
backend/venv
