backend/config.py
conf/secrets.json
conf/mongo.env
conf/mongo-entrypoint/01_create_user.sh
.vagrant/
__pycache__
frontend.vue/
*.code-workspace
.vscode
*.pyc
tmp/
data/
*.egg-info
backend/.env
.coverage
test_report.html
coverage_report/
