{% import 'typescript/utils.ts.j2' as utils %}

class {{classname}} {
  {{utils.auto_attributes(fields)}}
}

export function plainTo{{classname}}(json: any): {{classname}} {
  const obj = new {{classname}}();
  {{utils.deserialize(fields)}}
  return obj;
}
// eslint-disable-next-line @typescript-eslint/no-unused-vars
export function serialize{{classname}}(obj: {{classname}}, unroll=false): any {
  const json: any = {};
  {{utils.serialize(fields)}}
  return json;
}

export { {{classname}} };